/* Custom styles for the Footer */
.footer-logo {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  background-color: #f8f9fa; /* Light background color for the logo */
  padding: 10px; /* Padding around the logo */
  border-radius: 10px; /* Rounded corners for the logo */
}

.footer-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

ul.list-unstyled li {
  padding-bottom: 5px;
}

.social-links a {
  color: #fff;
  font-size: 24px; /* Increase the size of the social icons */
  margin-right: 10px; /* Add some space between the icons */
}

.social-links a:hover {
  color: #f8f9fa;
}
